<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Remove code smell"
            id="CodeImpPlugin.CodeImpActionSets"
            label="Code Improvement"
            visible="true">
         <menu
               id="CodeImpPlugin.menu"
               label="Code Improvement"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="codeimp.CodeImpActionDelegate"
               icon="icons/no-smell.png"
               id="CodeImpPlugin.CodeImpAct"
               label="&amp;Code Improvement"
               menubarPath="CodeImpPlugin.menu/content"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Remove code smell">
         </action>
         <action
               class="codeimp.settings.CustomizeActionDelegation"
               id="CodeImpPlugin.settings"
               label="Customize"
               menubarPath="CodeImpPlugin.menu/content"
               style="push">
         </action>
         <action
               class="codeimp.test.TestActionDelegation"
               id="CodeImpPlugin.test"
               label="Test"
               menubarPath="CodeImpPlugin.menu/content"
               style="push">
         </action>
      </actionSet>
   </extension>

</plugin>
